.text {
  text-align: center;
}

.stat-list {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-left: 0;
}

.stat-span {
  display: block;
}

.stat-li {
  text-align: center;
  width: 50px;
  height: 50px;
  background-color: rgb(238, 238, 238);
}
