.statistics {
  margin-top: 30px;
}

.text {
  text-align: center;
}

.statList {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-left: 0;
}

.statSpan {
  display: block;
}

.statLi {
  text-align: center;
  width: 50px;
  height: 50px;
  background-color: rgb(238, 238, 238);
}
